<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <title> Exelify </title>
    
    <script src=""https://unpkg.com/htmx.org@1.9.12"></script>

</head>

<body>
    <h1> Exelify </h1>
    <main>
        {% block content %}
        {% endblock %}

    </main>
</body>
</html>